# The config file format is compatible with python's ConfigParser library.
# See http://docs.python.org/library/configparser.html for more details.
[user]
jid = user@gmail.com
password = password

[protocol]
# This options has 3-way style:
#   None - try to use ssl/tls is possible
#   1 - force use ssl/tls
#   0 - do not use use secure layer

# For now the value '1' is known to cause a crash of the xmpppy library.
secure = 0

[format]
# Format string for notification header.
# Available substitutions:
#   %count - number of new mail threads
header = %count

# Format string for message per thread.
# Available substitutions:
#   %subj - thread subject
message = %subj

# Truncate message length up to provided value.
# Ellipsis length is not included in the value.
# Do not specify any value in order to get full-length text.
max-length = 25
